<!DOCTYPE html>
<html>
<head>
    <title>Додати кімнату</title>
</head>
<body>
    <h1>Додати кімнату</h1>

    <!-- Перевірка та відображення повідомлення про помилку -->
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.room_number.label }}<br>
            {{ form.room_number }}
        </p>
        <p>
            {{ form.room_type.label }}<br>
            {{ form.room_type(size=32) }}
        </p>
        <p>
            {{ form.floor.label }}<br>
            {{ form.floor }}
        </p>
        <p>
            {{ form.capacity.label }}<br>
            {{ form.capacity }}
        </p>
        <p>
            {{ form.gender.label }}<br>
            {{ form.gender }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
